.col-5{
    /* border: 3px solid black; 
    border-radius: 0px; */
    margin: 30px;
}

.article{
    font-size: 20px;
}

button{
    margin: 10px;
}

.img-news{
    margin-left: 27px;
    margin-bottom: 15px;
    height: 200px;
}

.weather{
    display: flex;
    margin: 15px;
    height: 170px;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(125, 213, 248), rgb(209, 252, 212));
}



