.col-5{
    /* border: 3px solid black; 
    border-radius: 0px; */
    margin: 30px;
}
.container{
    margin-top: 10px;
    background-color: rgb(234, 250, 235);
    border: 1px solid white;
    border-radius: 25px;
}

.article{
    font-size: 20px;
}

button{
    margin: 10px;
}

.img-news{
    margin-left: 27px;
    margin-bottom: 15px;
    height: 200px;
}

.weather{
    display: flex;
    margin-top: 0px;
    height: 170px;
    align-content: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgb(125, 154, 248), rgb(234, 250, 235));
}

#date, #time{
    text-align: right;
    font-style: italic;
}

.currency{
    text-align: right;
    font-style: italic;
}



